extends layout

block content
  table
    tr
      // icons
      td
        ul
          li 
            img(src="assets/feed.png", width=100 ).w3-hover-opacity
          li 
            img(src="assets/group.png", width=100 ).w3-hover-opacity
          li 
            img(src="assets/chat.png", width=100 ).w3-hover-opacity
          li 
            img(src="assets/notebook.png", width=100 ).w3-hover-opacity
        
      // page
      td
        div.w3-card-2
          img(src="", width=100)
          p Isto está na pagina principal

