doctype html
html
  head
    title Rede Social para Estudantes
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/ournote.js')
    script(src="/javascripts/jquery.modal.min.js")
    link(rel="stylesheet" href="/stylesheets/jquery.modal.min.css")
  body
    block content
