extends layout

block content
    .w3-card-4.modal(id='display')
    table
        tr
            td
                ul
                    li 
                        a(href="/root"+path.replace(/\/[^\/]*$/,'')) ..
                    each sub_group in group.sub_groups
                        li 
                            a(href="/root"+path+"/" + sub_group)= sub_group
                button(onclick="addGroup('" + path + "')") +
            td
                table
                    each card in group.page
                        tr
                            td
                                case Object.keys(card)[0]
                                    when 'p'
                                        p= card.p
                                    when 'h1'
                                        h1= card.h1
                                    when 'img'
                                        img(src=card.img)
                                    default
                                        p better luck next time
                            td
                                input(type="CheckBox" class="check-box")
    hr
    a(href="/") Logout
