extends layout

block content
    table
        tr
            th
                ul
                    li 
                        a(href="/root"+path.replace(/\/[^\/]*$/,'')) ..
                    li 
                        a(href="/root"+path+"/group1") group1
                    li 
                        a(href="/root"+path+"/group2") group2
            th
                p blabla
