extends layout_user

block content
    .main-content
      h1 Our Note
        
      a(href="/root" ,style="text-decoration: none; color: white")
        .moleskine-wrapper
          .moleskine-notebook
            .notebook-cover
              .notebook-skin Raiz
            .notebook-page.ruled
          h4 Raiz
        
      each book in books
        a(href="/root/" + book ,style="text-decoration: none; color: white")
          .moleskine-wrapper
            .moleskine-notebook
              .notebook-cover
                .notebook-skin= book.split("/").reverse()[0]
              .notebook-page.ruled
            h4= book

      
